<h1> <%= @place_name %> </h1>

<ul>
  <% for entry in @entries %>

      <li> <%= entry["title"] %> </li>
      <li> <%= entry["occurred_on"] %> </li>
      <li> <%= entry["description"] %> </li>
  
  <% end %>
</ul>

<p> <a href ="/entries/new"> New Post </a></p>